<form id="loginForm" class="loginForm" action="/" method="post">
    <fieldset>
        <div class="formGroup">
            <label for="username" class="formLabel"></label>
            <input id="username" name="username" type="text" class="formInput">
        </div>
        <div class="formGroup">
            <label for="password" class="formLabel"></label>
            <input id="password" name="password" type="password" class="formInput">
        </div>
    </fieldset>
    <button type="submit">Submit</button>
</form>
